<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }} @ Frontend Meetup</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>Hacked with <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> in Bucharest</li>
        </ul>
      </div>

      <div class="footer-col footer-col-4 pull-right">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
          <li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <a href="mailto:{{ site.email }}">Contact me</a></li>
        </ul>
      </div>
    </div>

  </div>

</footer>
